<p class="serviceHead"> Service component works!</p>
<section class="service">

    <h1>Our Services -</h1>
<h3>pediatric specialty care</h3>
<h3>greater access to surgical specialists</h3>
<h3>physical therapy and rehabilitation services</h3>
<h3>prescription services</h3>
<h3>home nursing services</h3>
<h3>family support services</h3>
<h3>nutritional counseling</h3>
<h3>mental health care</h3>
<h3>family support services</h3>
<h3>genetic counseling and testing</h3>
<h3>social work or case management services</h3>
<h3>financial services</h3>

</section>