#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
  }
  
  #about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
  }
  
  #about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
  }

  .about{
      padding-left: 30px;
      padding-top: 30px;
  }

    .text-primary {
    color: #005ce6;
  }

  .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
  }

  .aboutHead{
      padding-left:500px;
      font-size: 30px;
  }
