.header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgb(174, 177, 184);
}

.link{
 padding-right: 30px;
 padding-left: 30px;
 margin-right: 20px;
 font-size: 30px;
 background-color: rgb(65, 54, 212);
 border-radius:50px ;
 color: cornsilk;
}