<div class="header">
    <h1>ROUTING</h1>
  
    <div class="nav">
      <a class="link" routerLink="/home"> Home </a>
      <a class="link" routerLink="/about"> About </a>
      <a class="link" routerLink="/service"> Service </a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
