#showcase {
    background: url('C:/Users/Coditas/Desktop/hospitalBack.jpg') no-repeat center center/cover;
    height: 600px;
  }
  
  #showcase .showcase-content {
    color: rgb(51, 28, 28);
    text-align: center;
    padding-top: 170px;
  }
  
  #showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
  }
  
  #showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
  }

  .text-primary {
    color: #005ce6;
  }

  .lead{
      font-size: 30px;
      font-weight: bold;
  }

  .homeHead{
font-size: 30px;
padding-left: 600px;      
}