<p class="homeHead">Home Component works!</p>

<div id="showcase">
    <div class="container">
      <div class="showcase-content">
        <h1><span class="text-primary">Health</span> Is Wealth</h1><hr>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, eligendi laboriosam. Repellendus officia harum eaque.</p>
      </div>
    </div>
  </div>

